<launch>
    <include file="$(find rosbot_ekf)/launch/all.launch"/>
    <include file="$(find astra_launch)/launch/astra.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 3.14 0 0 base_link laser 100" />
  
    <node pkg="explore_lite" type="explore" respawn="true" name="explore" output="screen">
      <rosparam file="$(find rosbot_launch)/config/exploration.yaml" command="load" />
    </node>
</launch>
